.loadingAnimation {
    animation: spin-keyframe 5s infinite linear   ;
}

@keyframes spin-keyframe {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}